<html>
  <head>



  	<style>

h2   {color: black;
      font-size: 500%;
       text-align: center;}
p	 {
    color: black;
    font-family: verdana;
    font-size: 100%;
}
body  {
    background color: blue
}

body {
    background-color: lightblue;
}

img{
 display: block;
   margin-left: auto;
   margin-right: auto;
	height: 50%;
	width: 30%;


</style>
</head>
  <body>
  <h2> ABOUT</h2>
  	<p> My name is Hala Abu Sneineh and I'm sixteen years old. Pet-House is a website where you can donate and adopt pets. All you have to do is basically signing up. After this you can post about pets you want to donate, and the ones who want to adopt can comment on this.</p>

  	<img src="/home/meet/Desktop/SimpleLandPageHeroku/static/thankyou-1.jpg"  >
  </body>
 		


</html>

