<!DOCTYPE html>
<html>
<head>
  <h2>DONATE</h2>
<style>
body {
    background-color: lightblue;
}
</style>
</head>
<body>



<form action="/submit_form" method="post" target="_blank">
  First name: <input type="text" name="fname"><br>
  <p>   </p>

  Last name: <input type="text" name="lname"><br>
<p>   </p>

<p>   </p>


  Type of pet: <input type="text" name="tname"><br>
  <p>   </p>

  Age of pet:<input type="text" name="aname"><br>
  <p>   </p>

  Image of pet:<input type="text" name="Iname"><br>

  <p>   </p>
  Phone number:<input type="text" name="pname"><br>
  <input type="submit" value="Submit">
</form>

<p>Click on the submit button, and your pet will be posted on the adopting page".</p>

</body>
</html>


<html>

</body>
</html>




